
html,body,#contents,.wrapper,#back{
  background: linear-gradient(to bottom, #232730, #082d69);
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper{
  
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: rgba(243, 143, 13, 0.274);
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

footer{
  position: fixed;
  width: 100%;
  background-color: #fff;
  bottom:0;
  padding: 5px;
  text-align: right;
  font-size: 10px;
}

header h1{
  font-size: 20px;
}

header ul{
  display: flex;
  margin-left: auto;
}

header ul li{
  margin-left: 20px;
}

#contents{
  overflow: hidden;
}

#back{
  background: linear-gradient(-45deg, rgba(246, 255, 0, 0.34), rgba(255, 0, 161, 0.64)) fixed, url(../images/ringbackgazou.png);
  background-size: cover;
  background-position: cover;
  top: cover;
  transition: cover;
}



#food{
  width: cover;
  bottom: 4%;
  margin-left: cover;
  left: cover;
  position: absolute;
  opacity: 0;
}


#food.anime {
  /* cssライブラリanimate.cssを利用 */
  animation: zoomInUp;
  animation-duration: 0.3s; 
  opacity: 1;
}


#intro{
  position: fixed;
  display: flex;
  z-index: 101;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: serif;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  top: 0;
}

.videowrap{
  position: absolute; 
  right: 0; 
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  background-size: cover;
}
video {
  display: block;
  margin: auto;
  size: cover;
}

p {
  font-family: serif;
  color: #fff;
  bottom: 72%;
  left: 2%;
  font-size: 400%;
  position: absolute;

}

#OBJ{
  width: fit-content;
  position: absolute;
  margin-left: 21%;
  bottom: -47.3%;
  left: 5.5%;
  z-index: 10;

}

.txt_img{
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  min-height: 80vh;
}

.content{
  display: none;
  padding: 30px;

}

h1{
  font-family: serif;
  color: black;
}

h3{
  font-family: serif;
  color: #fff;
  left: 30%;
  bottom: 15%;
  font-size: 400%;
  position: absolute;
}

